.container {
  height: 85%;
  background-color: #474343;
  color: #fcfcfc;
}

a {
  display: flex;
  align-items: center;
  flex-direction: row;
}

i {
  margin-right: .4rem;
  vertical-align: middle;
  font-size: 1.7rem;
}
